*~
\#*
target
out
.floo*
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
.vscode
.DS_Store
.shell_history
.mailmap
.java-version
Thumbs.db
/.profiler/
dependency-reduced-pom.xml
.attach_pid*
node_modules
public/build
dist
.env*
.cache
